body{

	background-color: #8b9b8b;
	font-family: 'Lato', sans-serif;

}

.main{

	z-index: 0;
	width:76%;
	height:90%;
	position: absolute;
	top:20;
	left:0;
}

.gray{

	background-color: gray;
}

.padding-left{

	margin-left:2.5%;

}

.padding-right{

	margin-right: 2.5%;
}

.map {

	position: absolute;
	height:80%;

}

.course-marker {

	height:100px;
	width: 200px;
}

.course {

	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 5%;
	margin-left: 2%;
	background-color: #c0c9c0;
	opacity: 0.9;
	text-align: center;
}

.list-group-item{

	width:100px;
	text-align: center;
	cursor: pointer;
}

.ui-autocomplete{

	font-family: 'Lato', sans-serif;
	width:10%;
}