body{

	background-color: #8b9b8b;
	font-family: 'Lato', sans-serif;

}

.main{

	z-index: 0;
	width:76%;
	height:90%;
	position: absolute;
	top:20;
	left:0;
}

.gray{

	background-color: gray;
}

.padding-left{

	margin-left:2.5%;

}

.padding-right{

	margin-right: 2.5%;
}

.map {

	top:15%;
	height:75%;
	position: absolute;

}


.course-marker {

	height:100px;
	width: 200px;
}

.card {

	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 5%;
	margin-left: 2%;
	background-color: #c0c9c0;
	opacity: 0.9;
	text-align: center;
}

.list-group-item{

	width:100px;
	text-align: center;
	cursor: pointer;
}

.ui-autocomplete{

	font-family: 'Lato', sans-serif;
	width:10%;
}

.example{


	color:black;
}

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    opacity: 0.9;
    cursor:pointer;
}

#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    color:#fff;
}

.route{
	margin-left: 2%;
	text-align: center;
}

.ok{

}

.toolong{

	color:red;
	text-decoration: bold;

}