<!DOCTYPE html>

<html lang='en'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/admin.css">
	<head>
		<title>ClassHopper Admin</title>
	</head>
	<body>
		<h1>Add, Edit, or Delete Building Data</h1>
		<div class="input-group">
			<p><input name="buildinput" type="text" class="form-control" placeholder = "Building Unique ID"></input></p>
			<p><input name="nameinput" type="text" class="form-control" placeholder = "Building Name"></input></p>
			<p><input name="latinput" type="text" class="form-control" placeholder = "Building Latitude"></input></p>
			<p><input name="longinput" type="text" class="form-control" placeholder = "Building Longitude"></input></p>
		</div>	
		<div class="btn-group">
			<button type="button" class="btn btn-default">Add</button>
			<button type="button" class="btn btn-default">Edit</button>
			<button type="button" class="btn btn-default">Delete</button>
		</div>

</html>		