<!DOCTYPE html>

<html lang="en">
    <head>
       
        <meta charset="utf-8" />
        <title></title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div style="height: 60px">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header padding-left" style="height: 60px">
                    <ul class="list-inline">
                        <li href ="#" class="list-group-item" onclick = "renderMap('m')" data-toggle="pill" id="m-list" >Monday</li>
                        <li href ="#" class="list-group-item" onclick = "renderMap('t')" data-toggle="pill" id="t-list">Tuesday</li>
                        <li href ="#" class="list-group-item" onclick = "renderMap('w')" data-toggle="pill" id="w-list">Wednesday</li>
                        <li href ="#" class="list-group-item" onclick = "renderMap('r')" data-toggle="pill" id="r-list">Thursday</li>
                        <li href ="#" class="list-group-item" onclick = "renderMap('f')" data-toggle="pill" id="f-list">Friday</li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class= "container-fluid">
            <div class = "col-md-6 map" id = "map-canvas">
            </div>
            <select class="form-group col-md-2" id="transport">
                <option value="WALKING">Walking</option>
                <option value="DRIVING">Driving</option>
                <option value="BICYCLING">Bicycling</option>
                <option value="TRANSIT">Bus</option>
            </select>
        </div>  

        <div class="container-fluid">
            <div class = "row">
                <div class="col-md-2 pull-right padding-right">
                    <form role="search">
                        <input type="text" id = "search" class="form-control" placeholder="Search courses">
                        <br/>
                            <div class = "example">
                                For example, "cs-411" or "cs 411" 
                            </div> 
                        <br/>
                        <input type="text" id = "restaurant_search" class="form-control" placeholder="Search restaurants">
                        <br/>
                            <div class = "example">
                                For example, "Wingin Out"
                            </div> 
                        <br/>
                </div>  
                <div id = "extras" class = "col-md-3 pull-right padding-right">

                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='jquery-1.11.0.js')}}"></script>
        <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='default.css')}}"></script>

    </body>
        <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoRnSjpa0dTWlHoIfvGpxQMuIiYNxrtGc">
        </script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="{{url_for('static', filename='moment.min.js')}}"></script>
        <script src="{{url_for('static', filename='app.js')}}"></script>

</html>
